.required{
  color: rgb(240, 91, 79);
  font-size: 1em;
}

.ct-label {
  font-size: 1.6rem !important;
}

.googleapp .col-sm-3 {
  text-align: center;
}
.easyPieChart {
  position: relative;
  text-align: center;
}

.chart span {
  position: relative;
  left: 77px;
  top: -49px;
}

.percentage, .label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.label{
  padding-left: 28px;
}

.chart {
  /*float: left;*/
  margin: 10px;
}

/*
 * Base structure
 */
/*Clients Page*/
.client-dropdown{
  margin-bottom: 1em;
}
.title span a {
  color: #5cb85c;
}

/* General */
/*button i.fa.fa-times {
  color: #ffffff !important;
}*/
.fa-6 {
  font-size: 11em !important;
}
/* Update User page */
p.bg-success {
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
}
/* Analytics Page */
div#embed-api-auth-container {
  margin-bottom: 2em;
}
p.title {
  font-family: 'Open Sans';
  font-size: 1.5em;
  text-align: left;
}
p.title span{
  font-family: 'Open Sans';
  font-size: .7em;
  color: gray;
}

.view-selector {
  display: block;
}

@media (min-width: 570px) {
  .view-selector {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 .5em 0em;
    width: -webkit-calc(100% + 1em);
    width: calc(100% + 1em);
    text-align: left;
    margin-left: -1em;
  }
  .view-selector table {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 -webkit-calc(100%/3 - 1em);
    -ms-flex: 1 1 calc(100%/3 - 1em);
    flex: 1 1 calc(100%/3 - 1em);
    margin-left: 1em;
  }
}

.view-selector table {
  height: auto !important;
  width: auto !important;
}

.view-selector table, 
.view-selector tbody, 
.view-selector td, 
.view-selector tr {
  display: block;
}
.view-selector td {
  width: auto !important;
}
.view-selector td:last-child * {
  display: block;
  text-align: left;
}
.view-selector td:first-child, 
.view-selector-item > label {
  font-weight: 700;
  margin: 0 .25em .25em 0;
  display: block;
}
/*.view-selector td {
  width: auto!important;
}
@media (min-width: 570px) {
  #view-selector-1-container,
  #view-selector-1-container table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 .5em 0em;
    width: -webkit-calc(100% + 1em);
    width: calc(100% + 1em);
  }
}*/


/* Add user page */
.display-gravatar-text a {
  color: rgb(105, 105, 102);
  text-decoration: none;
  font-weight: bold;
}
img#display-gravatar {
  border: 1px solid rgb(157, 157, 157);
  padding: 4px;
  margin-bottom: 1em;
}
.bold{
  font-weight: bold;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.overdue {
  color:rgb(219, 115, 115);
}
a.navbar-brand {
  font-family: Impact;
  color: #fff !important;
  font-size: 1.9em;
}
a.navbar-brand span.dash {
  /*font-size: 15px;*/
  font-size: 39px;
  /*background-color: #fff;*/
  /*color: #2F2C2C;*/
  color: #fff;
  padding-left: 5px;
  border-top-right-radius: 4px;
}
a.navbar-brand span.dot {
  padding: 1px;
}
/* users active */
i.fa.fa-check {
  color: rgb(92, 184, 92);
}
/*
 * Global add-ons
 */
i.fa.fa-times,
i.fa.fa-pencil-square-o {
  /*font-size: 1.2em;*/
}
/*i.fa.fa-times {
  color: rgb(253, 109, 109);
}*/

i.fa.fa-check.active {
  /*font-size: 1.2em;*/
  color: rgb(92, 184, 92);
}

i.fa.fa-times.suspended {
  /*font-size: 1.2em;*/
  color: rgb(253, 109, 109);
}

i.fa.fa-pencil-square-o {
 /*color: rgb(92, 184, 92);*/
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color:#413F3F; /*#f5f5f5; <-original */
    border-right: 1px solid #413F3F; /*#eee;*/
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #737577; /*#428bca;*/
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
